.container {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.container h2 {
  margin: 10px 0;
}
.container form {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
